multi-council-agentic-workflow.json
{
  "nodes": [
    {
      "parameters": { "path": "planning-leads-start", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [4784, 1808],
      "id": "c12fbcb0-cca8-4123-a6dc-0cacde23c033",
      "name": "Start Webhook",
      "webhookId": "planning-leads-start"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "planning-leads-loop", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [4880, 1936],
      "id": "7c144555-1cf9-489d-8d7f-98d2620d024b",
      "name": "Loop Webhook",
      "webhookId": "planning-leads-loop"
    },
    {
      "parameters": {
        "jsCode": "const councils = [\n  { name: 'Windsor & Maidenhead', auth: 'Windsor' },\n  { name: 'Hillingdon',           auth: 'Hillingdon' },\n  { name: 'Dacorum',              auth: 'Dacorum' },\n  { name: 'Wokingham',            auth: 'Wokingham' },\n  { name: 'Surrey Heath',         auth: 'SurreyHeath' },\n  { name: 'Runnymede',            auth: 'Runnymede' }\n];\nconst run_id = new Date().toISOString().replace(/[:.]/g, '-');\nreturn [{ json: { council_index: 0, councils, run_id, total: councils.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4928, 1728],
      "id": "ce943f69-9975-4d80-a7bb-137b970bd041",
      "name": "Initialise Loop"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst data = raw.body ? raw.body : raw;\nconst index = data.council_index ?? 0;\nconst councils = data.councils;\nconst run_id = data.run_id;\nconst total = data.total;\nif (!councils || !Array.isArray(councils)) {\n  throw new Error('still missing: ' + JSON.stringify(Object.keys(raw)));\n}\nif (index >= total) {\n  return [{ json: { _all_done: true, run_id, total } }];\n}\nconst current = councils[index];\nconst nextIndex = index + 1;\nreturn [{ json: { council_name: current.name, council_auth: current.auth, council_index: index, next_index: nextIndex, councils, run_id, total, is_last: nextIndex >= total } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5024, 1856],
      "id": "cec720c9-8107-43e8-ae12-818ab600f39c",
      "name": "Extract Current Council"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "check-all-done", "leftValue": "={{ $json._all_done }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5168, 1728],
      "id": "7fa138fc-cb3d-400d-a396-2fb936c64c28",
      "name": "All Councils Done?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "check-no-results", "leftValue": "={{ $json._no_results }}", "rightValue": true, "operator": { "type": "boolean", "operation": "false", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5600, 1920],
      "id": "5ea90fb8-7454-4d16-9cd6-72a665c1b8a5",
      "name": "Has Results?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst first = items[0].json;\nconst loop = first._loop || first;\nif (!loop.councils || !Array.isArray(loop.councils)) {\n  throw new Error('Prepare Next Council lost councils array: ' + JSON.stringify(first));\n}\nconst nextIndex = loop.next_index !== undefined ? loop.next_index : (loop.council_index + 1);\nreturn [{ json: { council_index: nextIndex, next_index: nextIndex + 1, councils: loop.councils, run_id: loop.run_id, total: loop.total, is_last: (nextIndex + 1) >= loop.total } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6528, 1888],
      "id": "127e5b3d-4a50-4aa4-8752-5517d016ed12",
      "name": "Prepare Next Council"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "check-is-last", "leftValue": "={{ $json.council_index >= $json.total }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [6624, 1744],
      "id": "33d2f0e4-8520-4c02-ae2f-1899605b1ecd",
      "name": "All Done?"
    },
    {
      "parameters": { "amount": 30 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [6720, 1888],
      "id": "33f40817-3b42-4f79-b4bc-a6c20a91b549",
      "name": "Wait 12 Seconds",
      "webhookId": "f5ccebab-b9fc-4083-aaf0-55057a7d724f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://xcelerate.app.n8n.cloud/webhook/planning-leads-loop",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [6816, 1744],
      "id": "3bdaf54e-32e2-4d2e-bb45-3094e67e0b41",
      "name": "Trigger Next Council"
    },
    {
      "parameters": {
        "jsCode": "const runId = $input.first().json.run_id || 'unknown';\nconst today = new Date().toLocaleDateString('en-GB', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nreturn [{ json: { run_id: runId, completed_at: new Date().toISOString(), subject: `Planning Permission Run Complete — ${today}`, html_email: `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;max-width:700px;margin:0 auto;color:#333}h1{color:#1a4e8a;border-bottom:3px solid #1a4e8a;padding-bottom:10px}.box{background:#e8f4e8;border:1px solid #4caf50;padding:16px 20px;border-radius:6px;margin:20px 0}.footer{margin-top:40px;font-size:12px;color:#999;border-top:1px solid #eee;padding-top:10px}</style></head><body><h1>Planning Permission Run Complete</h1><div class=\"box\"><strong>All councils have been scraped and processed.</strong><br><br>New qualified leads with enrichment and opportunity scores have been added to your Google Sheet.<br>Run ID: <code>${runId}</code><br>Completed: ${today}</div><p>Open your Google Sheet to view all new planning applications identified as opportunities, with AI scoring and enrichment data.</p><div class=\"footer\">Planning Permission — Automated Run</div></body></html>` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6720, 1616],
      "id": "eb0d7031-5775-4a3e-a98c-4826329fd3a1",
      "name": "Build Completion Email"
    },
    {
      "parameters": {
        "url": "=https://www.planit.org.uk/api/applics/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "auth", "value": "={{ $json.council_auth }}" },
            { "name": "recent", "value": "30" },
            { "name": "pg_sz", "value": "200" },
            { "name": "app_state", "value": "Undecided" },
            { "name": "search", "value": "dwelling or \"new house\" or \"new homes\" or \"new build\" or \"replacement dwelling\" or \"residential development\"" },
            { "name": "compress", "value": "on" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5312, 1792],
      "id": "153c825f-463a-4bbc-b7cc-0b92d7a51e72",
      "name": "PlanIt API Request1"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst firstItem = allItems[0].json;\nconst dataObj = Array.isArray(firstItem) ? firstItem[0] : firstItem;\nconst loopData = $('Extract Current Council').first().json;\nconst councilName = loopData.council_name || 'Unknown';\nconst applications = dataObj.records;\nif (!applications || applications.length === 0) {\n  return [{ json: { _no_results: true, council: councilName, council_index: loopData.council_index, next_index: loopData.next_index, councils: loopData.councils, run_id: loopData.run_id, total: loopData.total, is_last: loopData.is_last } }];\n}\nconst excludeDescKeywords = ['rear extension','side extension','front extension','single storey extension','two storey extension','double storey extension','loft conversion','dormer','hip to gable','porch','conservatory','orangery','garage conversion','internal alterations','internal works','roof alterations','roof lights','velux','discharge of condition','non material amendment','prior approval','lawful development certificate','listed building consent','commercial','industrial','retail','office','telecommunications','advertisement','signage','tree works','tree preservation','hedgerow','replacement windows','replacement doors'];\nconst excludeAppTypes = ['conditions','trees','advert','prior','ldc','listed','heritage'];\nconst includeKeywords = ['new dwelling','new dwellings','new house','new houses','new home','new homes','replacement dwelling','replacement house','new build','newbuild','erection of','residential development','residential units','new residential','demolition and erection','barn conversion','change of use to dwelling','change of use to residential','conversion to','subdivision','self build','self-build','custom build','affordable housing','mixed use'];\nconst potentialLeads = applications.filter(app => {\n  const desc = (app.description || '').toLowerCase();\n  const appType = (app.app_type || '').toLowerCase();\n  const appState = (app.app_state || '').toLowerCase();\n  if (appState === 'decided' || appState === 'withdrawn') return false;\n  if (excludeAppTypes.some(t => appType.includes(t))) return false;\n  if (excludeDescKeywords.some(kw => desc.includes(kw))) return false;\n  if (!includeKeywords.some(kw => desc.includes(kw))) return false;\n  return true;\n});\nif (potentialLeads.length === 0) {\n  return [{ json: { _no_results: true, council: councilName, council_index: loopData.council_index, next_index: loopData.next_index, councils: loopData.councils, run_id: loopData.run_id, total: loopData.total, is_last: loopData.is_last } }];\n}\nreturn potentialLeads.map((app, i) => ({ json: { uid: app.uid, address: app.address, postcode: app.postcode, description: app.description, app_type: app.app_type, app_state: app.app_state, start_date: app.start_date, url: app.url, link: app.link, council: app.area_name || councilName, _loop: { council_index: loopData.council_index, next_index: loopData.next_index, councils: loopData.councils, run_id: loopData.run_id, total: loopData.total, is_last: loopData.is_last } } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5408, 1920],
      "id": "7c434b49-ab23-41b3-bfd1-734cd34a512b",
      "name": "Code Filter Stage "
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 1 && items[0].json._no_results) { return items; }\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5504, 1760],
      "id": "718ca61b-77d3-4cb9-9876-55bdf88bb085",
      "name": "Skip If Empty1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ JSON.stringify($input.all().map(item => ({ uid: item.json.uid, address: item.json.address, description: item.json.description, app_type: item.json.app_type }))) }}",
        "options": {
          "systemMessage": "You are a lead qualification specialist for a UK tradesmen planning intelligence tool.\n\nReview planning applications and identify genuine new build or extension opportunities for UK tradesmen.\n\nKEEP:\n- New dwellings (houses, flats, apartments)\n- Extensions (single storey, double storey, loft conversions)\n- Barn conversions or building conversions to residential\n- Replacement dwellings\n- Residential developments\n- Self-build and custom build plots\n- Garage conversions to habitable rooms\n- Outbuildings / garden rooms / annexes\n\nREJECT:\n- Commercial, retail, industrial or office only\n- Infrastructure, telecoms, drainage only\n- Tree works only\n- Condition discharges or amendments only\n\nThis client supplies leads to tradesmen (builders, electricians, plumbers, roofers, landscapers). They want ANY residential construction or alteration work.\n\nOUTPUT: Return ONLY a JSON array of UIDs to keep. No explanation. No markdown. No extra text.\nExample: [\"SB/2024/0123\",\"TR/2024/0456\"]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [5696, 1760],
      "id": "b570cebd-c265-4b57-9d19-8d5904b283e5",
      "name": "AI Agent - New Build Filter1",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-haiku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [5744, 2016],
      "id": "816a0b5b-ac10-4121-9a63-85e44d6297b1",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": { "id": "evQ7fKP9dktGYHkj", "name": "Dylan open router" }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output;\nlet qualifiedUIDs;\ntry {\n  const cleaned = aiOutput.replace(/```json|```/g, '').trim();\n  qualifiedUIDs = JSON.parse(cleaned);\n} catch (e) {\n  qualifiedUIDs = aiOutput.match(/\"[^\"]+\"/g)?.map(uid => uid.replace(/\"/g, '')) || [];\n}\nif (!qualifiedUIDs || qualifiedUIDs.length === 0) {\n  const loopState = $('Code Filter Stage ').first().json._loop || {};\n  return [{ json: { _no_qualified: true, councils: loopState.councils, council_index: loopState.council_index, next_index: loopState.next_index, run_id: loopState.run_id, total: loopState.total, is_last: loopState.is_last } }];\n}\nconst httpData = $('PlanIt API Request1').first().json;\nconst dataObj = Array.isArray(httpData) ? httpData[0] : httpData;\nconst originalData = dataObj.records || [];\nconst loopState = $('Code Filter Stage ').first().json._loop || {};\nconst qualifiedLeads = originalData.filter(app => qualifiedUIDs.includes(app.uid));\nreturn qualifiedLeads.map(app => ({ json: { uid: app.uid, reference: app.uid, council: app.area_name || 'Unknown', address: app.address, postcode: app.postcode, description: app.description, app_type: app.app_type, app_state: app.app_state, app_size: app.app_size || null, start_date: app.start_date, target_decision_date: app.other_fields?.target_decision_date || null, applicant_name: app.applicant_name || null, applicant_address: app.applicant_address || null, agent_name: app.agent_name || null, agent_address: app.agent_address || null, planit_url: app.link || app.url, council_url: app.other_fields?.url || null, scraped_date: new Date().toISOString().split('T')[0], _loop: loopState } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5920, 1936],
      "id": "d16a4da7-5c56-4e9c-8720-09a9e836df74",
      "name": "Restore Full Data1"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [{ "id": "5d649580-eeb6-47d9-a530-6629435dda21", "leftValue": "={{ $json._no_qualified }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [6016, 1808],
      "id": "a34eeea4-7ecd-47cd-9bea-fe8d2826192d",
      "name": "Has Qualified Leads?"
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ JSON.stringify($input.all().map(item => ({ uid: item.json.uid, address: item.json.address, postcode: item.json.postcode, description: item.json.description, app_type: item.json.app_type, applicant_name: item.json.applicant_name, agent_name: item.json.agent_name, council: item.json.council }))) }}",
        "options": {
          "systemMessage": "You are a planning application data extractor for a UK tradesmen lead generation tool.\n\nYou will receive a JSON array of planning applications. Extract structured data from each one.\n\nReturn ONLY a valid JSON array in this exact format (one object per application):\n[\n  {\n    \"uid\": \"<application uid>\",\n    \"unit_count\": <number or null if unclear>,\n    \"dwelling_type\": \"<house|flat|bungalow|extension|conversion|mixed|unknown>\",\n    \"development_scale\": \"<single|small|medium|large|unknown>\",\n    \"applicant_type\": \"<individual|developer|housing_association|council|unknown>\",\n    \"notes\": \"<one key detail relevant to a tradesman>\"\n  }\n]\n\nScale guide:\n- single: 1 unit or a single property alteration\n- small: 2–5 units\n- medium: 6–20 units\n- large: 21+ units\n\nBase extraction on description, app_type, applicant_name, agent_name fields.\nReturn JSON array ONLY. No markdown, no explanation, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [6176, 1568],
      "id": "enrich-agentic-0001-0001-planning001",
      "name": "AI: Enrich Leads",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-haiku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [6128, 1728],
      "id": "model-enrich-0002-0002-planning002",
      "name": "Model: Enricher",
      "credentials": {
        "openRouterApi": { "id": "evQ7fKP9dktGYHkj", "name": "Dylan open router" }
      }
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ JSON.stringify($('Restore Full Data1').all().map(i => ({ uid: i.json.uid, address: i.json.address, postcode: i.json.postcode, description: i.json.description, council: i.json.council, app_type: i.json.app_type, applicant_name: i.json.applicant_name, agent_name: i.json.agent_name }))) }}",
        "options": {
          "systemMessage": "You are a planning application opportunity scorer for a UK tradesmen lead generation tool.\n\nYou will receive a JSON array of planning applications. Score each one as a lead opportunity for UK tradesmen (builders, roofers, plumbers, electricians, landscapers, window/door installers).\n\nReturn ONLY a valid JSON array in this exact format (one object per application):\n[\n  {\n    \"uid\": \"<application uid>\",\n    \"score\": <integer 1-10>,\n    \"priority\": \"<HIGH|MEDIUM|LOW>\",\n    \"reasoning\": \"<one sentence explaining the score>\"\n  }\n]\n\nScoring guide:\n- 9–10 HIGH: Large extensions (200m²+), multi-unit schemes, major redevelopments — multiple trades needed\n- 7–8 HIGH: Medium extensions, single new builds, significant conversions — strong trade opportunity\n- 5–6 MEDIUM: Standard extensions, smaller conversions — moderate opportunity\n- 3–4 LOW: Minor extensions, small alterations\n- 1–2 LOW: Minimal work unlikely to generate trade enquiries\n\nConsider: project scale, postcode area (premium postcodes score higher), applicant type, description detail.\nReturn JSON array ONLY. No markdown, no explanation, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [6416, 1568],
      "id": "score-agentic-0003-0003-planning003",
      "name": "AI: Score Leads",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-haiku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [6368, 1728],
      "id": "model-score-0004-0004-planning004",
      "name": "Model: Scorer",
      "credentials": {
        "openRouterApi": { "id": "evQ7fKP9dktGYHkj", "name": "Dylan open router" }
      }
    },

    {
      "parameters": {
        "jsCode": "// Merge original data + enrichment + opportunity scores\nconst originalLeads = $('Restore Full Data1').all().map(i => i.json);\n\n// Parse enrichment output\nconst enrichRaw = $('AI: Enrich Leads').first().json.output || '';\nlet enrichments = [];\ntry {\n  const cleaned = enrichRaw.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  enrichments = Array.isArray(parsed) ? parsed : [];\n} catch(e) { enrichments = []; }\n\n// Parse score output (current input)\nconst scoreRaw = $input.first().json.output || '';\nlet scores = [];\ntry {\n  const cleaned = scoreRaw.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  scores = Array.isArray(parsed) ? parsed : [];\n} catch(e) { scores = []; }\n\n// Merge by uid\nreturn originalLeads.map(app => {\n  const enrich = enrichments.find(e => e.uid === app.uid) || {};\n  const score = scores.find(s => s.uid === app.uid) || {};\n  return {\n    json: {\n      uid: app.uid,\n      reference: app.uid,\n      council: app.council,\n      address: app.address,\n      postcode: app.postcode,\n      description: app.description,\n      app_type: app.app_type,\n      app_state: app.app_state,\n      app_size: app.app_size || null,\n      start_date: app.start_date,\n      target_decision_date: app.target_decision_date || null,\n      applicant_name: app.applicant_name || null,\n      applicant_address: app.applicant_address || null,\n      agent_name: app.agent_name || null,\n      agent_address: app.agent_address || null,\n      planit_url: app.planit_url,\n      council_url: app.council_url || null,\n      scraped_date: app.scraped_date,\n      unit_count: enrich.unit_count ?? null,\n      dwelling_type: enrich.dwelling_type || null,\n      development_scale: enrich.development_scale || null,\n      applicant_type: enrich.applicant_type || null,\n      enrichment_notes: enrich.notes || null,\n      opportunity_score: score.score ?? null,\n      priority: score.priority || null,\n      score_reasoning: score.reasoning || null,\n      processed_at: new Date().toISOString(),\n      _loop: app._loop\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6656, 1568],
      "id": "merge-code-0005-0005-planning005",
      "name": "Merge Enriched Data"
    },

    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ULUxuyohwVgnRowbvwylPNs4lwjfWm3u6H903GyxCzw",
          "mode": "list",
          "cachedResultName": "Suki projects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ULUxuyohwVgnRowbvwylPNs4lwjfWm3u6H903GyxCzw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 62579589,
          "mode": "list",
          "cachedResultName": "planning_leads_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ULUxuyohwVgnRowbvwylPNs4lwjfWm3u6H903GyxCzw/edit#gid=62579589"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uid": "={{ $json.uid }}",
            "reference": "={{ $json.reference }}",
            "council": "={{ $json.council }}",
            "address": "={{ $json.address }}",
            "postcode": "={{ $json.postcode }}",
            "description": "={{ $json.description }}",
            "app_type": "={{ $json.app_type }}",
            "app_state": "={{ $json.app_state }}",
            "app_size": "={{ $json.app_size }}",
            "start_date": "={{ $json.start_date }}",
            "target_decision_date": "={{ $json.target_decision_date }}",
            "applicant_name": "={{ $json.applicant_name }}",
            "applicant_address": "={{ $json.applicant_address }}",
            "agent_name": "={{ $json.agent_name }}",
            "agent_address": "={{ $json.agent_address }}",
            "planit_url": "={{ $json.planit_url }}",
            "council_url": "={{ $json.council_url }}",
            "scraped_date": "={{ $json.scraped_date }}",
            "unit_count": "={{ $json.unit_count }}",
            "dwelling_type": "={{ $json.dwelling_type }}",
            "development_scale": "={{ $json.development_scale }}",
            "applicant_type": "={{ $json.applicant_type }}",
            "enrichment_notes": "={{ $json.enrichment_notes }}",
            "opportunity_score": "={{ $json.opportunity_score }}",
            "priority": "={{ $json.priority }}",
            "score_reasoning": "={{ $json.score_reasoning }}",
            "processed_at": "={{ $json.processed_at }}"
          },
          "matchingColumns": ["uid"],
          "schema": [
            { "id": "uid",                  "displayName": "uid",                  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "reference",            "displayName": "reference",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "council",              "displayName": "council",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "address",              "displayName": "address",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "postcode",             "displayName": "postcode",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "description",          "displayName": "description",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "app_type",             "displayName": "app_type",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "app_state",            "displayName": "app_state",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "app_size",             "displayName": "app_size",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "start_date",           "displayName": "start_date",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "target_decision_date", "displayName": "target_decision_date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "applicant_name",       "displayName": "applicant_name",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "applicant_address",    "displayName": "applicant_address",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "agent_name",           "displayName": "agent_name",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "agent_address",        "displayName": "agent_address",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "planit_url",           "displayName": "planit_url",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "council_url",          "displayName": "council_url",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "scraped_date",         "displayName": "scraped_date",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "unit_count",           "displayName": "unit_count",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "dwelling_type",        "displayName": "dwelling_type",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "development_scale",    "displayName": "development_scale",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "applicant_type",       "displayName": "applicant_type",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "enrichment_notes",     "displayName": "enrichment_notes",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "opportunity_score",    "displayName": "opportunity_score",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "priority",             "displayName": "priority",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "score_reasoning",      "displayName": "score_reasoning",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "processed_at",         "displayName": "processed_at",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [6208, 1712],
      "id": "7561dfc1-2c7c-4006-84c2-c35f4ed4d9f0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "6FDOaDwWjqKUnaA3", "name": "Dylan google account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Google Sheets strips _loop, so retrieve it from Restore Full Data1\nconst loopState = $('Restore Full Data1').first().json._loop;\nreturn [{ json: { councils: loopState.councils, council_index: loopState.council_index, next_index: loopState.next_index, run_id: loopState.run_id, total: loopState.total, is_last: loopState.is_last } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6384, 1808],
      "id": "4d9d2a2a-8e0a-4632-9737-7b7ba29b390a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [4784, 1632],
      "id": "451742e3-82b3-48a6-b1eb-b1dfcebceaed",
      "name": "When clicking 'Execute workflow'"
    }
  ],
  "connections": {
    "Start Webhook": {
      "main": [[{ "node": "Initialise Loop", "type": "main", "index": 0 }]]
    },
    "Loop Webhook": {
      "main": [[{ "node": "Extract Current Council", "type": "main", "index": 0 }]]
    },
    "Initialise Loop": {
      "main": [[{ "node": "Extract Current Council", "type": "main", "index": 0 }]]
    },
    "Extract Current Council": {
      "main": [[{ "node": "All Councils Done?", "type": "main", "index": 0 }]]
    },
    "All Councils Done?": {
      "main": [
        [{ "node": "Build Completion Email", "type": "main", "index": 0 }],
        [{ "node": "PlanIt API Request1", "type": "main", "index": 0 }]
      ]
    },
    "Has Results?": {
      "main": [
        [{ "node": "AI Agent - New Build Filter1", "type": "main", "index": 0 }],
        [{ "node": "Prepare Next Council", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Next Council": {
      "main": [[{ "node": "All Done?", "type": "main", "index": 0 }]]
    },
    "All Done?": {
      "main": [
        [{ "node": "Build Completion Email", "type": "main", "index": 0 }],
        [{ "node": "Wait 12 Seconds", "type": "main", "index": 0 }]
      ]
    },
    "Wait 12 Seconds": {
      "main": [[{ "node": "Trigger Next Council", "type": "main", "index": 0 }]]
    },
    "Build Completion Email": { "main": [[]] },
    "PlanIt API Request1": {
      "main": [[{ "node": "Code Filter Stage ", "type": "main", "index": 0 }]]
    },
    "Code Filter Stage ": {
      "main": [[{ "node": "Skip If Empty1", "type": "main", "index": 0 }]]
    },
    "Skip If Empty1": {
      "main": [[{ "node": "Has Results?", "type": "main", "index": 0 }]]
    },
    "AI Agent - New Build Filter1": {
      "main": [[{ "node": "Restore Full Data1", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [[{ "node": "AI Agent - New Build Filter1", "type": "ai_languageModel", "index": 0 }]]
    },
    "Restore Full Data1": {
      "main": [[{ "node": "Has Qualified Leads?", "type": "main", "index": 0 }]]
    },
    "Has Qualified Leads?": {
      "main": [
        [{ "node": "AI: Enrich Leads", "type": "main", "index": 0 }],
        [{ "node": "Prepare Next Council", "type": "main", "index": 0 }]
      ]
    },
    "AI: Enrich Leads": {
      "main": [[{ "node": "AI: Score Leads", "type": "main", "index": 0 }]]
    },
    "Model: Enricher": {
      "ai_languageModel": [[{ "node": "AI: Enrich Leads", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI: Score Leads": {
      "main": [[{ "node": "Merge Enriched Data", "type": "main", "index": 0 }]]
    },
    "Model: Scorer": {
      "ai_languageModel": [[{ "node": "AI: Score Leads", "type": "ai_languageModel", "index": 0 }]]
    },
    "Merge Enriched Data": {
      "main": [[{ "node": "Append or update row in sheet", "type": "main", "index": 0 }]]
    },
    "Append or update row in sheet": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "Prepare Next Council", "type": "main", "index": 0 }]]
    },
    "When clicking 'Execute workflow'": { "main": [[]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d14cfb1aef30125b6ef93c7d59f4a71b3a1b7bf02cefe5f10e54c5c97cf71dfb"
  }
}
